@page "/forums/{url}"
@inject fInancialFinesseProject.Client.Services2.IForumService ForumService
@using Markdig
@inject IJSRuntime JSRuntime

@if (CurrentPost == null)
{
    <span>Getting that Forum Post from the service...</span>
}
else
{
    <img src="@CurrentPost.Image" />

    <h3>@CurrentPost.Title</h3>

    <div>
        @((MarkupString)Markdown.ToHtml(CurrentPost.Content))
    </div>

    <button @onclick="NavigateToEdit">Edit Post</button>

    <button @onclick="ConfirmDelete">Delete Post</button>
}

@code {
    private fInancialFinesseProject.Shared.ForumPost CurrentPost;

    [Parameter]
    public string Url { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await ForumService.GetForumPostbyUrl(Url);
    }

    private void NavigateToEdit()
    {
        NavigationManager.NavigateTo($"/editforum/{CurrentPost.Id}");
    }

    private async Task ConfirmDelete()
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", new object[] { "Are you sure you want to delete this Blog?" });
        if (confirmed)
        {
            await DeleteForum();
        }
    }

    private async Task DeleteForum()
    {
        await ForumService.DeleteForumPost(CurrentPost.Id);
        NavigationManager.NavigateTo("/forums");
    }
}
