@page "/posts/{url}"
@inject fInancialFinesseProject.Client.Services.IBlogService BlogService
@using Markdig

@if (CurrentPost == null)
{
    <span>Getting that Blog Post from the service...</span>
}
else
{
    //<div class="post-img" style="background-image: url('@CurrentPost.Image ?? placeholderImage)');" />
    <img src="@CurrentPost.Image" />

    <h3>@CurrentPost.Title</h3>

    <div>
        @((MarkupString)Markdown.ToHtml(CurrentPost.Content))
    </div>
}

@code {
    private fInancialFinesseProject.Shared.Domain.BlogPost CurrentPost;

    [Parameter]
    public string Url { get; set; }

    string placeholderImage = "https://loremflickr.com/1060/300";

    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogService.GetBlogPostByUrl(Url);
    }
}
